.container {
    margin: auto;
    font-family: "poppins";
    max-width: 1000px;
    
}
ul li {
    display: inline-block;
    padding: 20px;
}
.Menu{
    
    float:right;
    text-decoration:none;
    display:flex;
    font-size:x-large;
    color:black;
    padding:40px;
    margin-right:20px;
    justify-content:space-between;
}
